<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background: #c2a6c2 url("/dragon.png");
        }
    </style>
</head>
<body>
<h1 align="center">
АНТИЧНЫЕ ПРИКОЛЫ
</h1>
<h2>
    Для переход к информации,
    выберете интересующий вас пункт из списка
</h2>
<p><a th:href="'/list1'">Перейти к просмотру персон</a></p>
<p><a th:href="'/list3/'">Перейти к просмотру армий</a></p>
<p><a th:href="'/list2/'">Перейти к просмотру битв</a></p>
</body>
</html>